/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Fjalla+One&family=Rambla&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #f2f2ea;
  --secondary-color: #f0979b;
  --accent1-color: #d14754;
  --accent2-color: #b8a3b4;
  --accent3-color: #ded4d3;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Fjalla One', Helvetica, sans-serif;
  --paragraph-font: 'Rambla', Helvetica, sans-serif;
  --link-font: 'Bubblegum Sans', cursive, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: black;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: black;
  --nav-link-color: black;
  --nav-background-color: var(--accent3-color);
  --nav-hover-link-color: black;
  --nav-hover-background-color: var(--accent2-color);
}


/*  Look around below...but DON'T CHANGE ANYTHING! */
html {
  background-color: var(--primary-color);
}
body {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
header {
  color: var(--paragraph-color-on-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
  font-size: 1.25rem;
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 70px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
  font-family: var(--link-font);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.chevron {
  font-size: 6em;
  color: var(--accent1-color);
  font-weight: bold;
  font-family: monospace;
}

.chevron-left::before{
  content:"\2039";
}

.chevron-after::after{
  content:"\203A";
}

main {
  background-color: white;
}